body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FDD5DF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 400px;
    background-color: #FFFFFF;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #FFA2B9;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #FFC2D1;
}

input:focus {
    border-color: #FFB2C5;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background-color: #FFB2C5;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #FFA2B9;
}