body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #FAE8ED, #FDD5DF);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: #FFFFFF;
    padding: 35px;
    width: 360px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}

h2 {
    color: #FF92AC;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #FFC2D1;
}

input:focus {
    border-color: #FFA2B9;
}

button {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #FFA2B9;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #FFB2C5;
}