<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../CSS/forgot-password.css">
</head>
<body>

<div class="form-container">
    <h2>Forgot Password</h2>

    <form id="forgotForm">

        <label for="forgotEmail">Email Address</label>
        <input type="email" id="forgotEmail" name="forgotEmail"
               placeholder="Enter your Email" required>

        <button type="submit">Send Verification</button>

    </form>
</div>

<script src="../js/Validation.js"></script>
</body>
</html>